<div>
  <img
    src="https://archaeology.ac.mn/public/uploads/968ac044-1651-4ae8-bdb5-bf31b32999ad/a7624841-219d-43c2-99b2-9576df296f60.png"
    alt=""
  />
  <h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed porro
    consequuntur eaque deserunt quae sapiente dolorum itaque adipisci hic.
    Sapiente, molestias odio aliquam non adipisci ullam accusantium doloribus
    aspernatur eaque!
  </h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex cumque, ullam
    suscipit eius laborum quis, necessitatibus nulla rem itaque aut rerum odit
    sunt praesentium, minus sit dolore laudantium quisquam ducimus?
  </p>
</div>
