<div class="max-w-screen-2xl mx-auto my-10 md:my-20">
  <div class="text-center my-10">
    <h3 class="text-sm uppercase text-gray-500 font-semibold text-">
      Why Choose Us
    </h3>
    <h2 class="text-3xl font-bold text-blue-900 mt-2">Our Unique Items</h2>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mx-4 md:mx-10 lg:mx-20"
  >
    <div
      *ngFor="let item of cardData"
      class="group bg-gray-50 hover:bg-[#106ebe] hover:text-white shadow-md p-6 rounded-lg flex flex-col transition-all duration-700 ease-in-out min-h-[300px]"
    >
      <!-- SVG Container -->

      <div
        class="rounded-full border-2 border-dotted border-[#106ebe] group-hover:border-white flex items-center justify-center mb-4 w-16 h-16 transition-all duration-1000 ease-out text-[#106ebe] group-hover:text-white overflow-hidden"
      >
        <div [innerHTML]="item.icon" class="w-8 h-8 object-contain"></div>
      </div>

      <!-- Title -->
      <h3
        class="text-lg font-bold font-roboto text-blue-900 group-hover:text-white transition-all duration-1000 ease-out"
      >
        {{ item.title }}
      </h3>
      <!-- Description -->
      <p
        class="text-base text-gray-600 font-roboto group-hover:text-white mt-2 transition-all duration-1000 ease-out"
      >
        {{ item.description }}
      </p>
    </div>
  </div>
</div>
