.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Maintain a 16:9 aspect ratio */
  height: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.foil-text {
  position: relative;
  background: linear-gradient(
    120deg,
    rgba(0, 200, 255, 0.2) 0%,
    /* тунгалаг цэнхэр эхлэл */ rgba(0, 200, 255, 0.8) 50%,
    /* тод цэнхэр голд */ rgba(0, 200, 255, 0.2) 100%
      /* тунгалаг цэнхэр төгсгөл */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  transition: background-position 0.5s ease-out;
}

.group:hover .foil-text {
  background-position: 200% center;
}
