/* .router-background {
  position: relative;

  z-index: 1;
}

.router-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/img/Untitled-1.png") repeat center;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
} */
