.router-background {
  position: relative; /* Required for positioning the pseudo-element */
  /* background-color: #ffffff !important ;  */
  z-index: 1; /* Keeps content above the pseudo-element */
}

.router-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/img/Untitled-1.png") repeat center;
  opacity: 0.2; /* Adjust opacity of the image */
  z-index: -1; /* Places the image behind content */
  pointer-events: none; /* Prevent interaction with the pseudo-element */
}
