.mobile-menu {
  transform: translateX(100%); /* Off-screen to the right */
  opacity: 0; /* Hidden initially */
}

.mobile-menu.open {
  transform: translateX(0); /* On-screen */
  opacity: 1; /* Fully visible */
}

.transition-transform {
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
.custom-w {
  max-width: 1920px;
}
.dropdown-menu {
  z-index: 10 !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease forwards;
}
.line1 ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/img/line1.png") repeat center;
  opacity: 100; /* Adjust opacity of the image */
  z-index: -1; /* Places the image behind content */
  pointer-events: none; /* Prevent interaction with the pseudo-element */
}
.line1 {
  position: relative; /* Required for positioning the pseudo-element */
  /* background-color: #ffffff !important ;  */
  z-index: 1; /* Keeps content above the pseudo-element */
}
