<div class="carousel-background">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let item of newsCardsData">
      <ng-template carouselSlide>
        <div class="news-card w-96">
          <img
            [src]="item.compressedUrl || item.imgUrl"
            alt=""
            class="news-card__image"
          />
          <div class="news-card__text-wrapper">
            <h2 class="news-card__title">{{ item.title }}</h2>
            <div class="news-card__post-date">{{ item.postDate }}</div>
            <div class="news-card__details-wrapper">
              <p class="news-card__description">
                {{ item.description | slice: 0 : 100 }}&hellip;
              </p>
              <a [routerLink]="item.link" class="news-card__read-more">
                Дэлгэрэнгүй <i class="fas fa-long-arrow-alt-right"></i>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
