<div>
  <h1
    class="relative mb-6 inline-block text-2xl font-lora font-medium text-gray-800 hover:text-[#D4AF37] group"
  >
    {{ "Харилцагч Байгууллага" | translate }}
    <!-- Underline -->
    <span
      class="absolute inset-x-0 bottom-0 h-[2px] bg-[#D4AF37] scale-x-0 origin-left transition-transform duration-300 group-hover:scale-x-100"
    ></span>
  </h1>
  <div class="relative">
    <!-- Title -->

    <!-- Carousel -->
    <owl-carousel-o #carousel [options]="customOptions" class="mt-12">
      <ng-container *ngFor="let item of partners">
        <ng-template carouselSlide>
          <div class="flex justify-center px-4">
            <div
              class="relative flex flex-col my-6 transform hover:scale-105 ease-out duration-300 bg-white shadow-sm border border-slate-200 rounded-lg w-60 h-40"
            >
              <div
                class="flex justify-center items-center w-full h-full overflow-hidden p-5"
              >
                <a target="_blank" href="{{ item.url }}">
                  <img
                    src="{{ imageUrl + item.picurl }}"
                    alt="card-image"
                    class="max-w-full max-h-full transition-transform duration-300 ease-in-out transform group-hover:scale-110"
                  />
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
