<div class="mx-auto mt-4 px-4">
  <a routerLink="/map">
    <h1 class="text-lg font-lora font-medium text-gray-800">
      Хээрийн судалгаа →
    </h1>
  </a>
  <!-- Map Section -->
  <div
    style="z-index: 1"
    id="map"
    class="w-full h-[50px] sm:h-[300px] bg-gray-200 mt-4 rounded-lg"
  >
    <!-- Placeholder for map content -->
  </div>
  <!-- Text Section -->
  <div class="mt-4 text-sm">
    <p>
      Ежегодно сотрудниками нашего Института проводятся обширные полевые
      исследования в различных регионах нашей страны и за её пределами. Все
      отчёты сотрудников ИИМК РАН проходят предварительную экспертизу
      <a class="text-blue-700" routerLink="map">Группы ОПИ</a> при нашем
      Институте.
    </p>
  </div>
</div>
