.bg-image {
  background-position: center;
  background-size: cover;
  background-image: url(https://img.freepik.com/free-vector/gradient-black-technology-background_23-2149209060.jpg?semt=ais_hybrid&w=740&q=80);
}

.bg-image2 {
  background-position: center;
  background-size: cover;
  background-image: url(https://img.freepik.com/free-vector/gradient-technology-background_23-2149209061.jpg?t=st=1759983591~exp=1759987191~hmac=8b7ba74813e21c71e66804fa54a32ac9021a490db2b94ee0145d63bfbe909c50);
}
.bg-image3 {
  background-position: center;
  background-size: cover;
  background-image: url(https://img.freepik.com/premium-vector/abstract-black-metallic-cyber-shadow-dark-circle-mesh-modern-futuristic-technology-background_33869-2141.jpg);
}
