<div class="w-full mt-4 h-[50vh] md:h-[70vh] bg-cover bg-center relative">
  <!-- Loading Spinner -->

  <!-- Carousel -->
  <div class="w-full h-[50vh] md:h-[70vh]">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of img">
        <img
          [src]="imageUrl + item.picurl"
          alt="Background Image"
          class="w-full h-[50vh] md:h-[70vh] rounded-lg object-cover object-center"
        />
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
