.static-image-before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../../public/assets/img/home-slid/mori.png") no-repeat
    center bottom;

  z-index: 1;
}
