.router-background {
  background: url("https://www.archeo.ru/petroglyphs.png") repeat; /* Repeat the background image */
  background-color: #c9c9c956; /* Fallback color */
  background-position: center; /* Center the background image */
  min-height: calc(
    100vh - 100px
  ); /* Adjust height based on header/footer size */
}
