<div class="bg-gray-100">
  <div class="items-center text-center py-28">
    <p class="text-[#1254ca] font-normal text-xl font-roboto uppercase">
      Testimonials
    </p>
    <h2 class="text-5xl font-bold text-[#001a3d] mb-4 font-oswald">
      Customer Reviews
    </h2>
  </div>
  <owl-carousel-o
    [options]="carouselOptions"
    (translated)="onTranslated($event)"
    class="rounded-lg shadow-lg bg-white"
  >
    <ng-container *ngFor="let item of membersdata; let i = index">
      <ng-template class="justify-center" carouselSlide>
        <div
          class="p-4 border rounded-lg mx-4 sm:mx-4 md:mx-2 lg:mx-2 mb-20"
          [class.border-[#1254ca]]="i === middleCardIndex"
          [class.border-gray-300]="i !== middleCardIndex"
        >
          <div class="flex justify-start w-24 items-center gap-4 my-4">
            <img
              class="rounded-full w-16 h-16 object-cover"
              [src]="imageUrl + item.picurl"
              alt="{{ item.title }}"
            />
            <h2 class="text-xl font-semibold text-gray-800">
              {{ item.title }}
            </h2>
          </div>
          <div>
            <p class="text-base text-gray-600" [innerHTML]="item.info">
              <!-- {{ item.info }} -->
            </p>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
