<div class="max-w-screen-2xl bg-gray-800 mx-auto px-4">
  <h1 class="text-white text-2xl font-bold mb-4">Videos</h1>

  <!-- Main video section -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- Large video on the left -->
    <div class="col-span-1 lg:col-span-2 flex flex-col items-center">
      <!-- Active Video Player -->
      <div class="w-full transition-all duration-300 ease-in-out">
        <youtube-player
          [videoId]="getVideoId(activeVideo.url)"
          width="100%"
          [height]="isMobile ? 200 : 315"
        ></youtube-player>
      </div>
      <div class="text-center">
        <h2 class="text-white text-xl font-semibold mt-4">
          {{ activeVideo.title }}
        </h2>
        <p class="text-gray-400">{{ activeVideo.created_at }}</p>
      </div>
    </div>

    <!-- Sidebar for other videos -->
    <div class="col-span-1 space-y-8">
      <!-- Limit to 4 videos in the sidebar -->
      <div
        *ngFor="let video of Videodata.slice(0, 4)"
        (click)="setActiveVideo(video)"
        class="cursor-pointer flex items-center space-x-4"
      >
        <!-- Thumbnail of the video -->
        <img
          [src]="video.thumbnailUrl"
          alt="{{ video.title }}"
          class="w-60 h-32 object-cover rounded-lg transition-transform transform hover:scale-105"
        />

        <!-- Video title and created date on the right of the thumbnail -->
        <div class="flex flex-col">
          <h2 class="text-white text-sm">{{ video.title }}</h2>
          <p class="text-gray-400 text-xs">{{ video.created_at }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
