<div class="max-w-screen-2xl mt-16 mx-auto px-4">
  <a [routerLink]="">
    <h1
      class="text-gray-800 font-lora text-2xl font-medium mb-4 hover:text-[#D4AF37]"
    >
      {{ "Нэвтрүүлэг" | translate }}
    </h1>
  </a>
  <!-- Main video section -->
  <div class="grid grid-cols-1 mt-4 lg:grid-cols-3 gap-8">
    <!-- Large video on the left -->
    <div class="col-span-1 lg:col-span-2 flex flex-col">
      <!-- Active Video Player -->
      <div
        #youTubePlayer
        class="w-full bg-black rounded-lg mt-6 overflow-hidden transition-all duration-300 ease-in-out"
        [style.width.px]="screenWidth"
        [style.height.px]="screenHeight"
      >
        <youtube-player
          [videoId]="getVideoId(activeVideo.url)"
          [width]="screenWidth"
          [height]="screenHeight"
        ></youtube-player>
      </div>

      <div class="text-center">
        <h2 class="text text-2xl font-lora font-medium mt-4">
          {{ activeVideo.title }}
        </h2>
        <p class="text-gray-400">{{ activeVideo.created_at }}</p>
      </div>
    </div>

    <!-- Sidebar for other videos -->
    <div class="col-span-1 py-4">
      <!-- Scrollable container with a fixed height -->
      <div
        class="h-[500px] overflow-y-auto space-y-8 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100"
      >
        <!-- Display all videos in the sidebar -->
        <div
          *ngFor="let video of videoData"
          (click)="setActiveVideo(video)"
          class="cursor-pointer flex items-center space-x-4"
        >
          <!-- Thumbnail of the video -->
          <img
            [src]="imgUrl + video.thumbnailUrl"
            alt="{{ video.title }}"
            class="w-40 h-24 object-cover rounded-lg transition-transform transform hover:scale-105"
          />

          <!-- Video title and created date on the right of the thumbnail -->
          <div class="flex flex-col">
            <h2 class="text-base font-light w-48 line-clamp-3">
              {{ video.title }}
            </h2>
            <p class="text-gray-400 text-xs">{{ video.created_at }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
