<div class="max-w-screen-xl mx-auto px-4 py-8">
  <h1
    class="text-lg sm:text-xl md:text-2xl font-medium text-center sm:text-left"
  >
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sint quo ipsum
    in non ducimus aspernatur officia natus omnis excepturi?
    <strong>title</strong>
  </h1>
  <div class="my-6">
    <img
      class="w-3/5 float-left pr-2 rounded-lg shadow-lg object-cover"
      src="https://archaeology.ac.mn/public/uploads/968ac044-1651-4ae8-bdb5-bf31b32999ad/baf4728c-d952-467b-86a4-57b71d82764d.jpg?width=960&rmode=Crop&"
      alt=""
    />
    <p class="text-justify">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit ab
      architecto dolorum harum quo modi provident ducimus, fugiat voluptatum
      mollitia praesentium, dolores reiciendis, voluptatibus id recusandae Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Officia amet, mollitia
      harum suscipit pariatur molestias voluptatum cupiditate ab animi natus
      obcaecati reprehenderit illo ullam alias aliquam odit facere saepe
      sapiente quisquam fugiat esse, in deserunt! Eaque tenetur nobis optio
      aperiam eos nam nesciunt accusantium possimus nostrum libero maxime
      voluptate, magnam hic assumenda in suscipit aliquid iure corrupti dolore
      voluptatem labore. In quo ipsa repellat ea, laborum tempore molestias
      consequatur perspiciatis quia natus debitis nihil placeat eum pariatur
      veritatis reiciendis officia fuga deleniti ex beatae optio numquam hic
      laboriosam? Beatae, eligendi aperiam. Quod soluta nemo optio laudantium
      earum molestias voluptate accusamus nihil sunt saepe? Quis optio iusto
      pariatur, libero officia itaque dicta natus accusamus consectetur nihil ex
      assumenda commodi error asperiores consequuntur nulla maxime modi
      blanditiis. Illo explicabo iure alias repellat debitis ut obcaecati
      maiores cupiditate blanditiis exercitationem veritatis, non sint
      laudantium eum facilis esse eos fugit. Inventore ipsa eius velit!
    </p>
  </div>
  <div class="w-full mx-auto my-6 clear-both pt-6">
    <img
      class="w-full rounded-lg shadow-lg object-cover"
      src="https://archaeology.ac.mn/public/uploads/968ac044-1651-4ae8-bdb5-bf31b32999ad/baf4728c-d952-467b-86a4-57b71d82764d.jpg?width=960&rmode=Crop&"
      alt=""
    />
  </div>
</div>
