<div class="relative">
  <div
    class="relative w-full h-[600px] overflow-hidden flex items-center justify-center"
  >
    <img
      class="w-full object-cover"
      [src]="imageUrl + newsDetails.picurl"
      alt="News Image"
    />
    <div class="absolute inset-0 bg-black bg-opacity-40"></div>
    <div class="absolute inset-0 flex items-center justify-center p-4 md:p-6">
      <h1
        class="text-3xl sm:text-4xl md:text-5xl text-center font-medium font-oswald text-white sm:text-left mb-4"
      >
        {{ newsDetails.title | translate | slice: 0 : 50 }}
      </h1>
    </div>
  </div>
  <div *ngIf="newsDetails" class="max-w-screen-xl mx-auto px-4 py-8">
    <div class="bg-white"></div>
    <!-- Title Section -->

    <!-- Date and Share Section -->

    <!-- News Content and Sidebar Section -->
    <div class="flex flex-col lg:flex-row">
      <div>
        <!-- Image Section Above News Content -->
        <div class="w-full"></div>
        <!-- News Content -->
        <div class="w-full">
          <div class="">
            <div class="">
              <h1
                class="text-xl md:text-2xl font-oswald lg:text-3xl font-semibold md:my-4 lg:my-8 my-2 text-[#001a3d]"
              >
                {{ newsDetails.title | translate }}
              </h1>
              <p
                class="text-justify text-[#4f5d6a] font-roboto text-lg"
                [innerHTML]="newsDetails?.info | translate"
              ></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Sidebar Section -->
    </div>
  </div>
</div>
