@keyframes spinslow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinslow {
  animation: spinslow 10s linear infinite;
}
@keyframes zoomOut {
  0% {
    transform: scale(1.5); /* Start at 1.5x size */
  }
  100% {
    transform: scale(1); /* Shrink to normal size */
  }
}

.zoom-out {
  animation: zoomOut 2s ease-in-out infinite alternate; /* Animation applied */
  display: block; /* Ensures it's treated as a block-level element */
}
