<div class="con222">
  <div class="timeline-container" id="timeline-1">
    <div class="timeline-header">
      <h2 class="timeline-header__title">Археологийн хүрээлэн</h2>
      <h3 class="timeline-header__subtitle">Бидний түүхэн замнал</h3>
    </div>
    <div class="timeline">
      <div class="timeline-item" *ngFor="let item of timelineData">
        <div class="timeline__content">
          <img class="timeline__img" [src]="imageUrl + item.picurl" />
          <h2 class="timeline__content-title">{{ item.title }}</h2>
          <p class="timeline__content-desc">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
