.relative {
  position: relative;
}

button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3); /* Softer background */
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Light shadow for depth */
  z-index: 10;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Slightly darker on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.news-card {
  position: relative;
  width: 100%;
  overflow: hidden;
}
