<div class="relative">
  <!-- Background Section -->
  <div class="relative z-10">
    <div class="max-w-screen-2xl mx-auto my-10 md:my-20">
      <div
        class="md:my-4 lg:my-8 my-2 pt-24 sm:pt-28 md:pt-32 lg:pt-36 mx-4 md:mx-10 lg:mx-20 flex flex-wrap justify-between"
      >
        <div>
          <h3
            class="text-lg uppercase font-roboto text-[#106ebe] font-semibold"
          >
            OUR BLOG
          </h3>
          <h2 class="text-5xl font-bold text-[#001a3d] font-Oswald mt-2">
            Your Mongolia Travel Guide
          </h2>
        </div>
        <div class="group">
          <button
            class="bg-[#106ebe] group-hover:bg-[#8dffc6] bg text-white font-bold py-4 px-6 rounded-full flex items-center group-hover:text-[#001229]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="w-4 h-4 mr-2 transition-all duration-300 ease-in-out group-hover:mr-0 group-hover:ml-2"
              fill="currentColor"
              stroke="currentColor"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
            See All
          </button>
        </div>
      </div>

      <!-- Owl Carousel -->
      <div class="relative overflow-visible mx-4 sm:mx-10 md:mx-16 lg:mx-20">
        <owl-carousel-o
          (translated)="onTranslated($event)"
          [options]="carouselOptions"
        >
          <ng-container *ngFor="let item of toursData" let i="index">
            <ng-template carouselSlide>
              <div
                class="group hover:text-white mb-32 p-6 rounded-lg flex flex-col transition-all duration-700 ease-in-out min-h-[300px] bg-cover bg-center relative overflow-visible"
              >
                <!-- Zoomable Background -->
                <div class="overflow-hidden rounded-lg group">
                  <div
                    class="absolute inset-0 portfolio-item transition-transform rounded-lg duration-700 ease-in-out bg-cover bg-center scale-100"
                    [ngStyle]="{
                      'background-image': 'url(' + item.imageUrl + ')',
                    }"
                  ></div>
                </div>

                <!-- Blog Button -->
                <button
                  class="absolute top-4 z-10 left-4 px-4 py-2 text-[#001d29] bg-white font-semibold rounded-full shadow-md transition-all duration-300 ease-in-out hover:bg-green-900 hover:text-white hover:text-black"
                >
                  Blog
                </button>

                <!-- Gradient Overlay -->
                <div
                  class="absolute inset-0 rounded-lg bg-gradient-to-b from-sky-600/0 to-sky-600/60 opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"
                ></div>

                <!-- White Card (Front Layer) -->
                <div
                  class="absolute left-1/2 bottom-[-50px] w-[90%] z-20 transform -translate-x-1/2 translate-y-[50px] bg-white transition-all duration-300 ease-in-out text-gray-900 border border-gray-200 shadow-xl px-1 py-3 rounded-lg"
                >
                  <div class="text-left px-8">
                    <div class="flex items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        fill="currentColor"
                        class="w-4 h-4 mr-2 text-[#106ebe]"
                      >
                        <path
                          d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
                        />
                      </svg>
                      <p class="text-[#106ebe]">By: {{ item.posted }}</p>
                    </div>
                    <a
                      class="group font-roboto font-medium text-[#001229] text-xl transition-all duration-300 ease-in-out"
                      href="#"
                    >
                      <span
                        class="bg-left-bottom bg-gradient-to-r from-[#106ebe] to-[#106ebe] bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
                      >
                        {{ item.title }}
                      </span>
                    </a>
                    <div class="group mt-2">
                      <button
                        class="bg-transparent border-2 border-[#106ebe] hover:bg-[#106ebe] bg text-[#106ebe] hover:text-white font-bold py-4 px-6 rounded-full flex items-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512"
                          class="w-4 h-4 mr-2 transition-all duration-300 ease-in-out hover:mr-0 hover:ml-2"
                          fill="currentColor"
                          stroke="currentColor"
                        >
                          <path
                            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                          />
                        </svg>
                        more
                      </button>
                    </div>
                  </div>
                </div>

                <!-- Badge Section -->
                <div class="w-20">
                  <div
                    class="bg-white hover:bg-green-900 text-[#106ebe] font-bold py-2 rounded-full hover:text-white"
                  >
                    <p class="w-10 mx-auto">
                      {{ item.type }}
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
